.mainContainer {
  display: flex;
  flex-direction: column;
}
.navWrapper {
  display: flex;
  justify-content: center;
  background-color: #222;
  padding: 32px;
}
.menu {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  width: 80vw;
}
