.mainContainer {
  display: flex;
  flex-direction: column;
}
.navWrapper {
  display: flex;
  justify-content: center;
  background-color: black;
  padding: 0.5vw;
  font-size: 17px;
}
.menu {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  width: 80vw;
}
.menu a {
  font-family: arial;
  color: white;
  text-decoration: none;
}
.insetContainer {
  display: flex;
  /*flex-direction: column;
  padding-left: 10vw;
  padding-right: 10vw;*/
}
.insetContainer > .p,img {
  font-size: 20px;
  font-family: arial;
  padding: 3vw;
}
.insetContainer1 > .p,img {
  font-size: 20px;
  font-family: arial;
  padding: 3vw;
}
